@using LoansApp.Web.Services
@inject AuthService AuthService
@inject NavigationManager Nav

<h3>Login</h3>

<input @bind="email" placeholder="Email" />
<input @bind="password" type="password" placeholder="Password" />

<button @onclick="HandleLogin">Login</button>

@code {
    string email;
    string password;

    async Task HandleLogin()
    {
        var success = await AuthService.Login(email, password);

        if (success)
            Nav.NavigateTo("/loans");
    }
}